/*External CSS*/
h1 {
    color: red;
    background-color: green;
    margin: auto 5-px;
    padding: -10px;
    text-align: center;
    width: 50%
}
#top {
    margin-bottom: 5px;

}

#bottom {
    margin-top: 20px;
}